@charset "UTF-8";
@import url("normalizer.css");
@import url("mediaqueries.css");
@import url("type.css");
body {
  padding: 20px; }

/* MISC STYLES */
.clear-1px {
  clear: both; }

.clear-5px {
  clear: both;
  height: 5px; }

.clear-10px {
  clear: both;
  height: 10px; }

.clear-17px {
  clear: both;
  height: 17px; }

.clear-20px {
  clear: both;
  height: 20px; }

/* END MISC STYLES */
/* Start Styles for Terms of Use and Privacy Content */
/* Start ABS-CBN Terms and Privacy */
.abs-cbn-terms, .abs-cbn-privacy {
  margin: 0px;
  padding: 5px;
  font-size: 12px;
  line-height: 16px; }

.abs-cbn-terms h2, .abs-cbn-privacy h2 {
  font-size: 14px; }

.abs-cbn-terms ol.roman {
  margin: 5px;
  padding: 0px;
  list-style: lower-roman inside; }

.abs-cbn-terms ol.roman li {
  margin: 0px;
  padding: 5px; }

.abs-cbn-terms ol.bullet {
  margin: 5px;
  padding: 0px;
  list-style: disc inside; }

.abs-cbn-terms ol.bullet li {
  margin: 0px;
  padding: 5px; }

.abs-cbn-terms ol.alpha {
  margin: 5px;
  padding: 0px;
  list-style: lower-alpha inside; }

.abs-cbn-terms ol.alpha li {
  margin: 0px;
  padding: 5px; }

/* End ABS-CBN Terms and Privacy */
/* Start ABS-CBN News Terms and Privacy */
.abs-cbn-news-tp {
  margin: 0px;
  padding: 5px;
  font-size: 12px;
  line-height: 16px; }

.abs-cbn-news-tp ul li {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0px;
  list-style: decimal; }

.abs-cbn-news-tp ul li h2 {
  display: inline-block;
  margin-left: -25px;
  margin-right: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0px;
  font-size: 13px; }

.abs-cbn-news-tp ul li ol li {
  margin: 5px;
  padding: 0px;
  list-style: lower-roman; }

.abs-cbn-news-tp ul li ol ol li {
  margin: 5px;
  padding: 0px;
  list-style: disc; }

.abs-cbn-news-tp .privacy-data {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10px;
  list-style: decimal; }

.abs-cbn-news-tp .privacy-data li {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0px;
  list-style: decimal; }

.abs-cbn-news-tp .privacy-data li h2 {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 10px;
  padding: 0px; }

.abs-cbn-news-tp .privacy-data li p {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 10px;
  padding: 0px; }

.abs-cbn-news-tp .privacy-data li ul li {
  list-style: disc; }

.abs-cbn-news-tp .privacy-data li ul li h2 {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 10px;
  padding: 0px; }

/* End ABS-CBN News Terms and Privacy */
/* End Styles for Terms of Use and Privacy Content */
